<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="fourm-logo">A</span>
  <span class="logo-font">All Is Well Fourm</span>
  <div class="spacer"></div>

  <span class="log-off log-in" (click)="signUp()"><i class="fa fa-sign-in" aria-hidden="true"></i><span>Sign
      Up</span></span>
  <span class="log-off log-in" (click)="signIn()"><i class="fa fa-sign-in" aria-hidden="true"></i><span>Sign
      In</span></span>
  <span class="log-off log-out"><i class="fa fa-sign-out" aria-hidden="true"></i><span>Sign Out</span></span>
</div>
<div class="clear"></div>

<div class="content" role="main">

  <div class="full-width outer-section">
    <div class="row">
      <div class="col-md-9">
        <div class="wrapper">
          <h5>All Categories</h5>
          <div>General</div>

          <div class="blog-list">
            <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <span class="name-initials">YM</span>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      <div>
                        <span>Welcome to All is well forum</span>
                        <span>
                          <span class="edit" (click)="editDiscussion()"><i class="fa fa-pencil"
                              aria-hidden="true"></i></span>
                          <span class="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </span>
                      </div>
                      <div class="blog-info"><span>Most recent by <span><b>Yogesh Mane</b></span></span> - 27 Feb 2020 -
                        <b>General</b></div>
                    </button>

                    <div class="view-info">
                      <span class="views"><i class="fa fa-eye" aria-hidden="true"></i><small>247</small></span>
                      <span class="comments"><i class="fa fa-comments" aria-hidden="true"></i><small>4</small></span>
                    </div>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <div class="cell-con-mar">
                      <div>
                        <span class="user-initials">RK</span> <b> Kamalesh Khan</b> commented on 12 Feb 2020
                        <span>
                          <span class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                          <span class="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </span>
                      </div>
                      <div class="cell-mar cell-border">
                        <div class="cell-inner-pad">
                          <div>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod.
                          </div>
                          <div class="like-dislike-mar">
                            <span>
                              <span class="like"><i class="fa fa-thumbs-up"
                                  aria-hidden="true"></i><small>10</small></span>
                              <span class="dislike"><i class="fa fa-thumbs-down"
                                  aria-hidden="true"></i><small>23</small></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="cell-con-mar">
                      <div>
                        <span class="user-initials">RK</span> <b> Kamalesh Khan</b> commented on 12 Feb 2020
                        <span>
                          <span class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                          <span class="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </span>
                      </div>
                      <div class="cell-mar cell-border">
                        <div class="cell-inner-pad">
                          <div>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod.Anim pariatur cliche reprehenderit, enim eiusmod high life
                            accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard
                            dolor brunch. Food truck quinoa nesciunt laborum eiusmod.Anim pariatur cliche reprehenderit,
                            enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                            cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                          </div>
                          <div class="like-dislike-mar">
                            <span>
                              <span class="like"><i class="fa fa-thumbs-up"
                                  aria-hidden="true"></i><small>10</small></span>
                              <span class="dislike"><i class="fa fa-thumbs-down"
                                  aria-hidden="true"></i><small>23</small></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="cell-con-mar">
                      <div>
                        <span class="user-initials">RK</span> <b> Kamalesh Khan</b> commented on 12 Feb 2020
                        <span>
                          <span class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                          <span class="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </span>
                      </div>
                      <div class="cell-mar">
                        <div class="cell-inner-pad">
                          <div>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod.</div>
                          <div class="like-dislike-mar">
                            <span>
                              <span class="like"><i class="fa fa-thumbs-up"
                                  aria-hidden="true"></i><small>10</small></span>
                              <span class="dislike"><i class="fa fa-thumbs-down"
                                  aria-hidden="true"></i><small>23</small></span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>


                    <button class="add-comment-btn" (click)="addComment()">
                      <span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                      <span class="btn-txt">Add Comment</span>
                    </button>


                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <span class="name-initials">TK</span>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      <div><span>d vegan excepteur butcher vice lomo. Leggings</span><span>
                          <span class="edit" (click)="editDiscussion()"><i class="fa fa-pencil"
                              aria-hidden="true"></i></span>
                          <span class="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </span></div>
                      <div class="blog-info"><span>Most recent by <span>Yogesh Mane</span></span> - 27 Feb 2020 -
                        General</div>
                    </button>

                    <div class="view-info">
                      <span class="views"><i class="fa fa-eye" aria-hidden="true"></i><small>247</small></span>
                      <span class="comments"><i class="fa fa-comments" aria-hidden="true"></i><small>4</small></span>
                    </div>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <span class="name-initials">AL</span>
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                      aria-controls="collapseOne">
                      <div><span>Anim pariatur cliche reprehenderit</span><span>
                          <span class="edit" (click)="editDiscussion()"><i class="fa fa-pencil"
                              aria-hidden="true"></i></span>
                          <span class="delete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </span></div>
                      <div class="blog-info"><span>Most recent by <span>Yogesh Mane</span></span> - 27 Feb 2020 -
                        General</div>
                    </button>

                    <div class="view-info">
                      <span class="views"><i class="fa fa-eye" aria-hidden="true"></i><small>247</small></span>
                      <span class="comments"><i class="fa fa-comments" aria-hidden="true"></i><small>4</small></span>
                    </div>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </div>
                </div>
              </div>


              <button class="add-comment-btn mar-top-15" (click)="addDiscussion()">
                <span class="icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                <span class="btn-txt">Add Discussion</span>
              </button>


            </div>
          </div>



        </div>
      </div>

      <div class="col-md-3">
        <div class="outer-wrapper">
          <div class="wrapper">
            <div>Categories</div>
            <div class="categories-sec f-bold">All Categories</div>
            <div class="categories-sec">General</div>
            <div class="categories-sec">Education</div>
            <div class="categories-sec">Health</div>
            <div class="categories-sec">Sports</div>
            <div class="categories-sec">Travel</div>
          </div>
        </div>

        <div class="outer-wrapper">
          <div class="wrapper">
            <div>All Members <small>(16)</small> </div>
            <div class="member-sec">
              <span class="user-initials">AG</span> Aniket Ghosh
            </div>
            <div class="member-sec">
              <span class="user-initials">AG</span> Aniket Ghosh
            </div>
            <div class="member-sec">
              <span class="user-initials">AG</span> Aniket Ghosh
            </div>
            <div class="member-sec">
              <span class="user-initials">AG</span> Aniket Ghosh
            </div>
            <div class="member-sec">
              <span class="user-initials">AG</span> Aniket Ghosh
            </div>
            <div class="member-sec">
              <span class="user-initials">AG</span> Aniket Ghosh
            </div>
            <div class="member-sec">
              <span class="user-initials">AG</span> Aniket Ghosh
            </div>
          </div>
        </div>

      </div>
    </div>









  </div>




  <app-footer></app-footer>

</div>


<router-outlet></router-outlet>




<!-- Modal -->
<div class="modal fade" id="addDissModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add New Discussion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Discussion Title</label>
            <input type="email" class="form-control form-control-sm" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">This is the small description about your
              discussion.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Category</label>
            <select class="form-control form-control-sm">
              <option>General</option>
              <option>Education</option>
              <option>Health</option>
              <option>Sports</option>
              <option>Travel</option>
            </select>
            <small id="emailHelp" class="form-text text-muted">Category of your discussion.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <textarea class="form-control" id="validationTextarea" placeholder="" required></textarea>
            <small id="emailHelp" class="form-text text-muted">This is the detailed description about your discussion.
              This will appear as the first comment on your discussion.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addCommentModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Comment</label>
            <textarea class="form-control" id="validationTextarea" placeholder="" required></textarea>
            <small id="emailHelp" class="form-text text-muted">This is the comment to discussion.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="signUpModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control form-control-sm" id="firstName" aria-describedby="firstNameHelp">
            <small id="firstNameHelp" class="form-text text-muted">Enter first name.</small>
          </div>

          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control form-control-sm" id="lastName" aria-describedby="lastNameHelp">
            <small id="lastNameHelp" class="form-text text-muted">Enter last name.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail">Email Id</label>
            <input type="email" class="form-control form-control-sm" id="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Enter email address.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail">Password</label>
            <input type="password" class="form-control form-control-sm" id="password" aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">Enter password.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail">Confirm Password</label>
            <input type="password" class="form-control form-control-sm" id="confirmPassword"
              aria-describedby="confirmPasswordHelp">
            <small id="passwordHelp" class="form-text text-muted">Re-enter password.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="signInModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail">Email Id</label>
            <input type="email" class="form-control form-control-sm" id="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Enter email address.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail">Password</label>
            <input type="password" class="form-control form-control-sm" id="password1" aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">Enter password.</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Sign In</button>
      </div>
    </div>
  </div>
</div>